@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Shadows+Into+Light&family=Lemonada');
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    text-shadow: 1px 1px 3px black;
    list-style: none;
    margin: 0;
    background: rgb(2, 98, 130);
    font-family: 'Lemonada', cursive;
    font-size: 12px;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
}

.navigation b {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
}

.navigation a:hover {
    background: #1b334f;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 700px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255,0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation b {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255,0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation li:last-of-type a {
        border-bottom: none;
    }

    .navigation li:last-of-type b {
        border-bottom: none;
    }
}
body {
    margin: 0px;
    user-select: none;
}
img#ibg {
    width: 100%;
}
div.content h1 {
    text-align: center;
    color: #b6cde2;
    text-shadow: 1px 1px 3px gray;
    background-color: #406479;
    padding: 10px;
    margin: 0px;
}
div.cf {
    text-align: center;
    font-size: 20px;
}
div.cont {
    text-align: center;
    padding: 10px;
    margin: 20px;
}
img {
    border-radius: 6px;
    box-shadow: 1px 1px 3px black;
}
div.g2, div.g3 {
    display: none;
}
div.cf {
    cursor: pointer;
    background-color: rgb(95, 117, 129);
    color: rgb(172, 200, 200);
    text-shadow: 1px 1px 3px black;
    padding: 10px;
}
div.cf:hover {
    background-color: rgb(68, 98, 117);
    color: #dba28b;
}
div.u {
    background-color: rgb(95, 117, 129);
    margin: 0px;
}