@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Shadows+Into+Light&family=Lemonada');
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    text-shadow: 1px 1px 3px black;
    list-style: none;
    margin: 0;
    background: rgb(2, 98, 130);
    font-family: 'Lemonada', cursive;
    font-size: 12px;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
}

.navigation b {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
}

.navigation a:hover {
    background: #1b334f;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 700px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255,0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation b {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255,0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation li:last-of-type a {
        border-bottom: none;
    }

    .navigation li:last-of-type b {
        border-bottom: none;
    }
}